name: GPU_TEST
on:
  push:
    branches:
      - 'main'
  pull_request:
jobs:
  ubuntu-gpu:
    runs-on: ubuntu-20.04-gpu-6c-112g-336h-16vr
    steps:
      - name: Update APT repo for CUDA
        run: |
          cat /etc/apt/sources.list
          ls -l /etc/apt/sources.list.d/
          echo '#### cuda.list ####'
          cat /etc/apt/sources.list.d/cuda.list
          echo '#### cuda.list.save ####'
          cat /etc/apt/sources.list.d/cuda.list.save
          echo '#### nvidia-docker.list ####'
          cat /etc/apt/sources.list.d/nvidia-docker.list
          echo '### Get rid of cuda.list.save ###'
          rm /etc/apt/sources.list.d/cuda.list.save
          #sudo apt-key del 7fa2af80
          #wget http://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64/cuda-keyring_1.0-1_all.deb
          #sudo dpkg -i cuda-keyring_1.0-1_all.deb
          sudo apt-key adv --fetch-keys https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64/3bf863cc.pub
          time sudo apt-get update
          sudo apt -y install libnpp-11-8
